div#contents {
    width: 100%;
    height: 100%;
}

ul.navbar-nav li {
    text-align: center;
    border: solid thin;
    border-color: lightgray;
}

ul.navbar-nav li:hover {
    background-color: #ADD8E6;
}

div#clock-contents {
    margin-top: 55px;
}

div#keithapps-digitalClock {
    text-align: center;
    font-size: 200px;
    cursor: default;
}
